################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/leetcode_1/obj
/C#/.vs/leetcodes
/C#/leetcode_1/bin/Debug/net8.0
/C#/.vs/ProjectEvaluation
/C#/testkhoagithub
/C#/testkhoagithub.pub
